<div class="container">
  <%- include('../layout/nav') %>
  <br />
  <%- include('../profile/userDetails') %>
  <form method="post" action="/profile/follow/<%= req.params.userId %>">
    <input type="hidden" name="userId" value="<%= req.session.userId %>" />
    <br />
    <input type="hidden" name="following" value="<%= req.params.userId %>" />
    <button>Follow</button>
  </form>
  <hr />
  <%- include('./followers') %>
  <hr />
  <%- include('./posts') %>
</div>
